.page-list {
  display: flex;
  flex-direction: column;
}

.badge-list {
  display: flex;
  gap: 0.5rem;
}
.badge-list .badge {
  padding: 0.25rem 0.5rem;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: smaller;
}
