.page-list {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.page-list > table {
  width: 100%;
  max-width: 40rem;
  border-collapse: collapse;
}
.page-list table td {
  padding: 0.5rem;
  vertical-align: top;
}
.page-list table tr:hover {
  cursor: pointer;
  background-color: #eee;
}

.badge-list {
  display: flex;
  gap: 0.25rem;
}
.badge-list .badge {
  padding: 0.125rem 0.5rem;
  background-color: #1463f9;
  color: white;
  border-radius: 0.5rem;
  font-size: smaller;
}

.ideal-solution-container,
.instructions-container {
  padding: 1rem 0;
}

.ideal-solution-container pre {
  overflow: auto;
}

.question-attempt-info {
  margin-top: 0.5rem;
}
.question-attempt-info small {
  display: block;
  color: #aaa;
}

.text-muted-sm {
  font-size: smaller;
  color: #aaa;
}
